.contact {
    display: flex;
    color: aliceblue;
    justify-content: space-between;
}

.contact-info{
    width: 300px;
}

.contact-info h1{
    margin: 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.contact-info ul {
    list-style: none;
}

.contact-info ul li {
    margin: 25px auto;
}

.contact-info ul li a{
    color: aliceblue;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .contact {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-info {
        margin: 0 auto;
    }
}
    