
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: aliceblue;
}

.content img{
    border-radius: 50%;
    margin-right: 32px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
}

.content .info {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    border-radius: 10px;
    padding: 12px 40px;
    width: 300px;
}

.content .info h1 {
    margin-bottom: 5px ;
}

.content .info h2 {
    margin: 0 auto;
}

.content ul {
    padding: 0;
    margin: 10px auto;
}

.content .info ul li{
    list-style-type: none;
    position: relative;
    transition: top ease-in-out 0.1s;
    top: 0;
    margin-top: 5px;
}

.content .info ul li:hover{
    top: -2px;
}

.content .socials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.content .socials a{
    color: aliceblue;
}
