@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  font-family: 'Roboto' ;
  font-weight: 300;
}

html, body {
  margin: 0;
  height: 100%;
}

#tsparticles {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


